
<%= render 'nav' %>

<div class="container">

<div class="container-fluid">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Welcome to our
                Book my room</h3>
            </div>
            <div class="modal-body">
                <div class="col-3"></div>
                <div class="quiz" id="quiz" data-toggle="buttons">
                    <label class="element-animation1 btn btn-lg btn-info btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    We know that planning a trip can be overwhelming, which is why we created a simple and convenient platform for booking the perfect hotel. With just a few clicks, you can easily compare prices, amenities, and locations of various hotels and make a reservation.
                    
                    Our team is dedicated to providing the best possible experience for our users. We are constantly updating our selection of hotels and working to secure the best rates and deals. We also prioritize the safety and security of our users, which is why we use secure payment methods and have a dedicated customer support team available to assist with any issues or questions.
                    
                    Thank you for choosing our hotel booking application. We look forward to helping you plan your next trip!
                    
                    
                  </label>
                    
                </div>
            </div>
            <div class="container text-center">
            <div class="row">
              <div class="col">
              <img src="/assets/aboutus.jpeg" alt="About us" width="500" height="600">
              </div>
              <div class="col">
              <img src="/assets/about.webp" alt="About us" width="500" height="600">
              </div>
            </div>
            </div>
            
            
        </div>
    </div>
</div>









