// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.hotel-card {
    background-color: #eeeeee;
    height: 790px;
    padding-top: 20px;
    padding-right: 655px;
    padding-bottom: 20px;
    padding-left: 595px;
    margin: 2%;
    border: black 11px;
}
